<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="select">
        <span>ESTADO ID: {{ estado_id }}</span>
            <form action="" method="post">
                <select v-model="estado_id" @Click="getCity">
                    <option v-for="state in states" :value="state.id">{{ state.name }}</option>
                </select>
                    <br>
                    <span>CIUDAD ID {{ city_id }}</span>
                    <br>
                <select v-model="city_id">
                    <option v-for="city in cities" :value="city.id">{{ city.name}}</option>
                </select>
            </form>
    </div>
    <hr>

    <div id="el">
        <h1>with Vue Select</h1>
        <br>
        <span>ESTADO ID: {{ estado_id }}</span>
        <v-select 
            :options="SelectState"
            :value="estado_id.id"
            placeholder="Selecciona Estado"
            :on-change="onChangeEstado"
            @input="resetCiudad()"
            >
            <span slot="no-option">Por Favor elegir un estado</span>
        </v-select>
       
        <br>
        

        <span>CIUDAD ID: {{ ciudad_id }}</span>
        <v-select
        :options="SelectCity"
        :value="ciudad_id.id"
        placeholder="selecciona ciudad"
        :on-change="onChangeCiudad"
        v-model="ciudad_id.id"
        >
        <span slot="no-option">Por Favor selecciona una ciudad</span>
        </v-select>
<br>
            <a @click="save" class="btn btn-primary">Guardar</a>
    </div>

    <script src="js/vue.js"></script>
    <!--<script src="https://unpkg.com/vue@latest"></script>-->
   <!-- <script src="https://unpkg.com/vue-select@latest"></script> -->
    <script src="js/axios.min.js"></script>
   
    <script src="js/vue-select.js"></script>

    
    <script>


Vue.component('v-select', VueSelect.VueSelect)

var el = new Vue({
    el:'#el',
    data: {
        estado_id: 0,
        ciudad_id: 0,
        states: [],
        cities:[],
    },
    mounted(){
        this.getState();
    },
    computed:{
        SelectState(){
            return this.states.map(e => 
            (
                { label: e.name, value: e.id }
            ));
        },
        SelectCity(){
            return this.cities.map(c => 
            (
                { label: c.name, value: c.id }
            ));
        }
    },
    methods: {
        save(){
            if(this.ciudad_id == ''){
                console.log('error');
            }else{
                console.log('guardar');
            }
            
        },
        onChangeEstado(obj){
           // console.log(obj.value);
            this.estado_id = obj.value;
            this.resetCiudad();
            this.getCity();
            
        },
        onChangeCiudad(obj){
            //console.log(obj.value);
            this.ciudad_id = obj.value;
        },
        
        getState(){
            axios.get('http://127.0.0.1:8000/state').then(res => {
                this.states = res.data;
            })
           
        },
        getCity(){
            axios.get('http://127.0.0.1:8000/city/'+ this.estado_id).then(res => {
                //console.log(res.data)
                       this.cities = res.data;
                    })
        },
        resetCiudad(){
            console.log('reseteando');
           console.log(this.ciudad_id);
           
           this.ciudad_id = [];
            
        }
    }
})


        /*
        otro metodo
*/
    
        new Vue({
            el:'#select',
            data:{
                    states: [],
                    estado_id: '',
                    cities:[],
                    city_id:''
            },
            created(){
                    this.getState();
            },
            computed:{
                StateId(){

                }
            },
            methods:{
                getState(){
                    axios.get('http://127.0.0.1:8000/state').then(res => {
                       
                        
                        this.states = res.data;
                    })
                },
                getCity(){
                    
                    axios.get('http://127.0.0.1:8000/city/'+ this.estado_id).then(res => {
                        
                       
                        this.cities = res.data;
                    })
                }
            }
        });



    </script>
</body>
</html>